<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <style>
        .login{background-color:rgb(45,65,78);text-align:center; color:white;width:300px; padding:30px;}
        #sub{color:white; background-color:green;}
</style>
</head>
<body style="background-color:rgb(40,100,69);" ><center><br><br><br><br>
<div class="login">
 <h1>Login </h1><br>
<form action="login"  method="post">
     {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your name "><br><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br><br>
    <input type="submit" id="sub"><br>
</form>
</div></center>
</body>
</html>

